* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  img {
  max-width: 100%;
  display: block;
  height: auto;
}
  li {
  list-style: none;
}
  a {
  text-decoration: none;
}
  button {
  border: none; 
}
  html, body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}