.news {
  background-color: #fefefe;
}

.news h2 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.6;
  color: #0d0d0d;
}

.news .timeline {
  width: 1280px;
  margin: 10px auto 0px auto;
  position: relative;
  padding: 40px 0;
  width: 90%;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.news .timeline ul li {
  position: relative;
  line-height: normal;
  width: 50%;
  padding: 10px 40px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #2e2f3e;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.timeline:before,
.timeline:after {
  content: "";
  display: table;
}

.timeline:after {
  clear: both;
}

.timeline ul li:nth-child(odd)::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #e53170;
  border-radius: 50%;
  box-shadow: rgb(229, 49, 112, 0.2);
  top: 24px;
  right: -6px;
}

.timeline ul li:nth-child(even)::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #e53170;
  border-radius: 50%;
  box-shadow: rgb(229, 49, 112, 0.2);
  top: 24px;
  left: -4px;
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #e53170;
}

.timeline ul li .time a {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0px;
  padding: 8px 16px;
  background-color: rgb(229, 49, 112, 0.2);
  color: #e53170;
  border-radius: 18px;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0px;
  padding: 8px 16px;
  background-color: rgb(229, 49, 112, 0.2);
  border-radius: 18px;
}

.timeline ul li .time a {
  color: #e53170;
}

.timeline ul li a {
  color: #0d0d0d;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .news .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  .news .timeline::before {
    left: 20px;
  }
  .news .timeline li:nth-child(even),
  .news .timeline li:nth-child(odd) {
    width: 90%;
    text-align: left;
    padding: 1rem 0px 50px 50px
  }
  .news .timeline li:nth-child(even)::before,
  .news .timeline li:nth-child(odd)::before {
    top: -18px;
    left: 16px;
  }
  .news .timeline li:nth-child(even) .time,
  .news .timeline li:nth-child(odd) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
  .timeline ul li:nth-child(even) {
    float: none;
    text-align: left;
    clear: both;
  }
  .timeline:before,
  .timeline:after {
    content: "";
    display: table;
  }
  .timeline:after {
    clear: both;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .news .timeline {
    width: 90%;
  }
  .news .timeline::before {
    left: 20px;
  }
  .news .timeline li:nth-child(even),
  .news .timeline li:nth-child(odd) {
    width: 100%;
    text-align: left;
    padding: 1rem 2px 50px 50px;
  }
  .news .timeline li:nth-child(even)::before,
  .news .timeline li:nth-child(odd)::before {
    top: -18px;
    left: 16px;
  }
  .news .timeline li:nth-child(even) .time,
  .news .timeline li:nth-child(odd) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}